@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header {
    background-color: #1f2937;
    height: 80px;
    display: flex;
    padding: 0px 200px;
    align-items: center;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
}

ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 16px;
    margin-left: auto;
    
}

a {
    flex: 1;
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.top {
    background-color: #1f2937;
    height: 500px;
    display: flex;
    padding: 0px 200px;
    gap: 100px;
}

.left{
    height: 400px;
    display: flex;
    flex-direction: column;
    margin: 72px 0px;

}

h2{
    color: #F9FAF8;
    font-size: 48px;
    margin: 0px;
    width: 325px;

}

.desc {
    color: #cecfd1;
    width: 400px;
}

button {
    background-color: #3882f6;
    color: white;
    padding: 8px 16px;
    border-radius: 8px;
    margin: 0px;
    margin-right: auto;
    border: 1px solid #3882f6;
    
}

.right {
    flex-shrink: 1;
    margin-bottom: auto;
    margin-top: 100px;
    padding: 100px 150px 100px;
    display: flex;
    background-color: #6f747a;
    color: white;
    align-items: top;
}